<!-- <p>view-enroll-policy works!</p> -->

<div *ngFor="let p of (allPolicy) | keyvalue">
    <table class="table" id="myTable">   
        <tr>&nbsp;&nbsp;
            <b>{{p.key}}</b> - {{p.value | json}}
        </tr>
  <!-- <th>{{p.name }}</th>
  <tr><b>Plan Id:</b>{{p.planId}}</tr>
  <tr><b>Cost: </b>{{ p.cost | currency: "IND" }}</tr>
  <tr><b>Details:</b>{{p.Details}}</tr>
  <tr><b>Deductible: </b> {{ p.deductible | currency: "IND" }}</tr> -->
</table>
</div>
&nbsp;
<button class="btn btn-info  text-uppercase" [routerLink]="['/user-list-policy']">Policies</button>

