<!-- <app-edit-policy></app-edit-policy> -->
<!-- <app-create-policy></app-create-policy> -->
<!-- <app-admin-home></app-admin-home> -->
<!-- <app-delete-policy></app-delete-policy> -->
<!-- <app-user-show-policy></app-user-show-policy> -->
<!-- <app-list-policy></app-list-policy> -->
<!-- <app-list-policy></app-list-policy> -->
<!-- <app-user-registration></app-user-registration> -->
<!-- <app-admin-login></app-admin-login> -->
<!-- <app-user-login></app-user-login> -->
<!-- <app-login></app-login> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-home></app-home> -->
<app-home></app-home>
<router-outlet></router-outlet>

